{% extends "./layout.html" %}

{% block content %}

<p>
  <div>
    <h2>Login page</h2>
  </div>
</p>

<form action="" method="post">
  {% csrf_token %}

  <div> 
    <label for="Username">Username</label><br>
    <input type="text" id="Username" name="username" placeholder="username" required><br>
  </div>
  <div>
    <label for="InputPassowrd">Password</label><br>
    <input type="password" id="InputPassword" name="password" placeholder="password" required><br><br>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>

</form>

{% endblock content %}
